header
{
	background-color : #6CBE4F;
}

#reservez
{
	color : #FFFFFF;
	font-family : KGHAPPY;
	text-align: center;
}

footer section ul li a
{
	color : #000000;
	text-decoration : none;	
}

footer section ul
{
	list-style : none;
}

h4
{
	color : #71B843;
}

h3
{
	color : #71B843;
}

h1
{
	text-decoration: underline;
	text-decoration-color: #B5CFAF;
}

h2
{
	font-family : KGHAPPY;
}

#ligneverte
{
	font-family : KGHAPPY;
	color : green;
	font-size : 22px;
}

section article p a
{
	color : green;
	text-decoration : none;	
}

#p1
{
	font-size : 22px;
}

@font-face
{
	font-family : "KGHappy" ;
	src : url('polices/KGHAPPY.ttf');
}

@font-face
{
	font-family : "KGHAPPYSolid" ;
	src : url('polices/KGHAPPYSolid.ttf');
}

aside
{
	background-color : #F3F3F4;
}

body nav
{
	background-color : black;
	
}

body nav li
{
	display : inline;
}

body nav li a
{
	color : #FFFFFF;
	font-family : KGHAPPYSolid;
	text-transform : uppercase;
	text-decoration : none;
	list-style:none;
}

section:nth-child(1)
{
	background-color : #C3DF9B;
}

section:nth-child(2)
{
	background-color : #9DCF73;
}

section:nth-child(3)
{
	background-color : #6DBF50;
}

#personnages
{
	float : right;
}